<!DOCTYPE HTML>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AR Test by Shiryu</title>
    <!--a-frame, ar.js,  jQueryを読み込む-->
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.2/aframe/build/aframe-ar.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src = ./JS/BoxSearcher.js></script>
    <script src = ./JS/ClickButton.js></script>
    <script src = ./JS/ClearJudgment.js></script>
    <script src = ./JS/MoveObject.js></script>
    <script src = ./JS/Collision_Ball.js></script>
  </head>

  <body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs="debugUIEnabled:false;" renderer="gameOutput: true;" vr-mode-ui="enabled: false">

      <!-- OBJ形式のCGモデルの読み込み -->
      <a-assets>
        <a-asset-item id="obj" src="./Desk&Chair/Desk&Chair.obj"></a-asset-item>   <!-- objファイル -->
        <a-asset-item id="mtl" src="./Desk&Chair/Desk&Chair.mtl"></a-asset-item>   <!-- mtlファイル -->
        <a-asset-item id="tg_obj" src="./spikeball001.obj"></a-asset-item>   <!-- objファイル -->
      </a-assets>

      <a-marker desk_chair type='pattern' url='./pattern-purin.patt'>
        <a-obj-model
          src="#obj"
          mtl="#mtl"
          scale="0.25 0.25 0.25"
          position="0.2 0 0"
          animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;"
          id = "Desk_Chair">
        </a-obj-model>
      </a-marker>

      <a-marker boxm1 type='pattern' url='./pattern-ku.patt'>
        {{!-- <a-sphere src="./image/YURUSHITE.jpg" position='0 0.5 0' scale='0.25 0.25 0.25' id = "box1" wall></a-sphere> --}}
        <a-obj-model position="0.5 0.5 0" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="-0.5 0.5 0" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="0.5 0.5 0.25" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="-0.5 0.5 0.25" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="0.5 0.5 -0.25" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="-0.5 0.5 -0.25" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="0.5 0.5 0.5" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="-0.5 0.5 0.5" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="0.25 0.5 0.5" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="-0.25 0.5 0.5" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>
        <a-obj-model position="0.0 0.5 0.5" src="#tg_obj" scale="1 1 1" animation="property:rotation; from:0 0 0; to:0 360 0; dur:3000; easing:linear; loop:true;" toge_ball> </a-obj-model>

        <a-sphere position='0 0.5 0' scale='0.125 0.125 0.125' rotation="0 0 0" src="./image/maru.png" id = "ball" moveobject></a-sphere>
      </a-marker>

      <a-marker boxm2 type='pattern' url='./OECU.patt'>
            <a-box src="./image/batu.png" position='0 0.5 0' id = "box2"></a-box>
      </a-marker>

      <a-marker boxm3 type='pattern' url='./pattern-hiyoko.patt'>
          <a-box position='0 0.5 0' material='color: white;' id = "box3"></a-box>
      </a-marker>

      <a-entity camera></a-entity>
    </a-scene>

    <div style="position: fixed; bottom: 0px;">
      <button type="button" id="b1">YURUSHITE</button>
      <button type="button" id="b2">Hand in Hand</button>
      <button type="button" id="b3">ロストワンの号哭</button>
    </div>

  </body>
</html>