<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AR.JS_Shiryu</title>
    </head>
    <body>

        {{{body}}}{{!-- ←ここにhome.handlebarsの内容が入る --}}

    </body>
</html>